{{#if addNewCategory}}
  <h1>New Category</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          {{input value=name id="name"}}
        </div>

        <div class="form-group">
          <label for="posts">Posts</label>
          {{input value=posts id="posts"}}
        </div>

        <button {{action 'save4'}}>Save</button>
      </form>
    </div>
{{else}}
  <button class="btn btn-primary btn-sm" {{action 'categoryFormShow'}}>New Category</button>
{{/if}}
