<h1>Couscous Catalog</h1>

<br>
<h4>You have come to the right place for all your couscous needs.</h4>
<br>

<h5>Posts:</h5>

<ul>
  {{#each model.posts as |post-unit|}}
    {{post-tile post=post-unit update="update" destroyPost="destroyPost"}}
  {{/each}}
</ul>

{{new-post save2="save3"}}

<br>

<h5>Categories:</h5>

<ul>
  {{#each model.category as |category|}}
  {{category-tile category=category}}
    <!-- <li>{{#link-to 'category' category.id}}{{category.posts}}{{/link-to}}</li> -->
  {{/each}}
</ul>

{{new-category save5="save6"}}
<!-- {{new-category saveCategory="saveCategory"}} -->
